.registration-form {
    margin-top: 12%;
}
body {
    background-image: url('../images/background_repeat_notes.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}